# Node modules
node_modules/

# TypeORM migrations and logs
dist/
build/

# Environment variables
.env

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/

# Test coverage directory
coverage/

# Prettier and ESLint cache
.prettier-cache
.eslintcache

# npm package-lock or yarn.lock (if you're using npm)
package-lock.json

# Optional npm audit and other temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
*.tgz

/dist
*.js
*.js.map
